[tool.black]
line-length = 100
# excludes handled in setup.cfg, since it's called via flake8

[tool.isort]
line_length = 100
default_section = "THIRDPARTY"
known_first_party = "glean-dictionary"
# For compatibility with black:
multi_line_output = 3
include_trailing_comma = "True"
force_grid_wrap = 0
use_parentheses = "True"

[tool.pytest.ini_options]
testpaths = ['.', 'etl', 'etl_tests']
addopts = '--black --flake8 --isort'
