click==8.4.2
furl==2.1.4
isort==8.0.1
Jinja2==3.1.6
pip-tools==7.6.0
pytest==9.1.1
pytest-isort==4.0.0
pytest-ruff==0.5
requests==2.34.2
stringcase==1.2.0
PyYAML==6.0.3
google-cloud-bigquery==3.42.3
google-cloud-storage==3.13.0
GitPython==3.1.57
