.app-filter {
    margin: $spacing-md $spacing-xl;
    #deprecation-checkbox {
        display: block;
        text-align: right;
        label {
            display: inline;
        }
    }
}

.app-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    grid-gap: $spacing-md;
}

.corner-flag {
    border-top: 80px solid black;
    border-right: 80px solid transparent;
    position: absolute;
    top: 1px;
    left: 1px;
}
.platform-logo {
    position: absolute;
    top: 7px;
    left: 7px;
    width: 30px;
    background-color: inherit;
}
#card {
    max-width: 230px;
    #media-block {
        &:hover {
            border-radius: 15px;
        }
    }
    #media-wrapper {
        border-radius: 15px;
        #logo-img {
            width: 230px;
        }
    }
}
#card-description {
    font-size: 14px;
}