version: 2.1
orbs:
  node: circleci/node@2.0.1
  python: circleci/python@0.2.1
jobs:
  build-and-test:
    executor:
      name: node/default
      tag: "12.16"
    steps:
      - checkout
      - node/install-packages
      - run: npm install
      - run: npm build
      - run: npm test
  python-build-and-test:
    executor: python/default
    steps:
      - checkout
      - python/install-deps
      - run:
          name: Run lint
          command: make lint
workflows:
  build-and-test:
    jobs:
      - build-and-test
      - python-build-and-test
