// TODO: import Protocol before rendering  
  
  @import "@mozilla-protocol/core/protocol/css/protocol.scss";

  @mixin metadata-table {
  // Styling for metadata tables in
  // App, Metric, Ping, Table detail pages
  table {
    margin-top: $spacing-md;
    margin-bottom: $spacing-lg;

    box-shadow: 2px 2px 4px rgba($color-black, 0.1);

    col {
      &:first-child {
        background-color: $color-light-gray-20;
      }
    }
    td {
      border: 1px solid $color-light-gray-30;
      padding: 0.5rem;
      vertical-align: top;
    }
  }
}
