@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
}

h1 {
  @apply text-4xl;
  @apply pb-2;
}

h2 {
  @apply text-3xl;
  @apply pb-2;
}

h3 {
  @apply text-2xl;
  @apply pb-2;
}

a {
  @apply text-blue-600;
}

a:hover {
  @apply text-blue-400;
  cursor: pointer;
}

ul {
  padding-left: 10px;
  @apply mb-4;
}
